{{ partial "github-corner" .}}

<nav class="navbar header default fixed-top navbar-inverse bg-primary navbar-toggleable-md sps">
  <a class="navbar-brand"
     href="{{ .Site.BaseURL }}">syndesis
  </a>
  <div class="collapse navbar-collapse"
       id="top-nav">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item"><a href="{{ .URL }}" class="nav-link" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
      {{end}}
      <!--
      <li class="nav-item">
        <a class="nav-link disabled"
           href="/page">{{ .Page.Kind }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">This is the Default Header.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">{{ .Page.Kind }}</a>
      </li>
      -->
    </ul>
  </div>
</nav>


