{{ partial "github-corner" .}}

<nav class="navbar header docs fixed-top bg-primary navbar-toggleable-md sps">
  <a class="navbar-brand"
     href="{{ .Site.BaseURL }}">syndesis
  </a>
  <div class="collapse navbar-collapse"
       id="top-nav-non-splash">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item"><a href="{{ .URL }}" class="nav-link" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
      {{end}}
    </ul>
  </div>
</nav>
