{{ define "title"}} {{ .Title }} {{ end }}

{{ define "header"}}
{{ partial "header-blog" .}}
{{ end }}

{{ define "main"}}

<div itemscope
     itemtype="http://schema.org/BlogPosting">
  {{ template "_internal/schema.html" .}}
  <div id="post-box">
    <div id="post"
         itemprop="articleBody">

      {{ .Content | safeHTML }}

    </div>

    <div class="">
      {{ partial "blog/byauthor" .}}
      {{ partial "blog/related-content" .}}
    </div>

    {{ if .Site.DisqusShortname }}
    <article>
      {{ template "_internal/disqus.html" .}}
    </article>
    {{ end }}

  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
